*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: #333;
}

// NAV

nav {
  text-transform: uppercase;

  a,
  i {
    color: #fff;
    transition: color 0.3s;
  }
  a:hover {
    color: #039dff;
  }
  i {
    padding: 10px;
  }
  .navbar-brand {
    font-weight: bold;
  }
  .active {
    color: #039ddf;
  }
}
